
input{
   float: right;
}

button{
    margin-top: 2%;

    float: right;

}

table{
    margin: 5% auto;
    padding: 2%;
    
}

.table{
    background-color: ghostwhite;
    padding-top: 1%;
}

.table .btn{
    margin: 3%;
    
}

.row {
    margin-left: 0;
    margin-right: 0;
  }

.formulario{
    margin-top: 5%;
    padding: 2% 2% 1% 2%;
    
    background-color: ghostwhite;
}
